HAML
%br

=form_tag chat_incoming_path, :name => "message", remote: true do
	%div.chat-room
	/
		%p
			%label{:for => 'nick'} user id
			%input{:type => 'text', :user_id => 'user_id'}

	%p
		%label{:for => 'message'} message
		%input{:type => 'text', :name => 'message'}

	%p
		%input{:type => 'submit', :value => 'send'}